In [2]:
import pandas as pd
import os

In [12]:
def load_files(years_load, files_load):
    df = pd.DataFrame()

    for year in years_load:
        for file in files_load:
            fname = "../data/raw/" + file + str(year) + ".csv"

            if os.path.isfile(fname):
                df_tmp = pd.read_csv(
                            fname,
                            encoding="ISO-8859-1",
                            sep=";",
                        )
                
                df_tmp.loc[:, "FILE_NAME"] = file
                
                df = pd.concat([df,df_tmp])
            else:
                print(fname + " not found! Skipping")

    return df

In [16]:
years_load = [2024]
files_load = [
    "itr_cia_aberta_BPA_ind_",
    "itr_cia_aberta_BPP_ind_",
    "itr_cia_aberta_DFC_MD_ind_", 
    "itr_cia_aberta_DFC_MI_ind_", 
    "itr_cia_aberta_DMPL_ind_", 
    "itr_cia_aberta_DRA_ind_", 
    "itr_cia_aberta_DRE_ind_", 
    "itr_cia_aberta_DVA_ind_"
    ]

In [17]:
df = load_files(years_load, files_load)

In [48]:
df_fields = df.copy()
df_fields["DS_CONTA"] = df_fields["DS_CONTA"].str.lower()
df_fields = df_fields.groupby(["FILE_NAME","CD_CONTA", "DS_CONTA"]).count().reset_index()
df_fields = df_fields[["FILE_NAME", "CD_CONTA","DS_CONTA"]]
df_fields.head()

                 FILE_NAME CD_CONTA                       DS_CONTA
0  itr_cia_aberta_BPA_ind_        1                    ativo total
1  itr_cia_aberta_BPA_ind_     1.01               ativo circulante
2  itr_cia_aberta_BPA_ind_     1.01  caixa e equivalentes de caixa
3  itr_cia_aberta_BPA_ind_  1.01.01                          caixa
4  itr_cia_aberta_BPA_ind_  1.01.01  caixa e equivalentes de caixa

In [34]:
df_fields[df_fields["DS_CONTA"].str.contains("receita operacional")]

                     FILE_NAME                          DS_CONTA
21695  itr_cia_aberta_DRE_ind_         receita operacional bruta
21696  itr_cia_aberta_DRE_ind_  receita operacional dos produtos
21697  itr_cia_aberta_DRE_ind_       receita operacional liquida
21698  itr_cia_aberta_DRE_ind_       receita operacional líquida
22972  itr_cia_aberta_DVA_ind_         receita operacional bruta
22973  itr_cia_aberta_DVA_ind_       receita operacional líquida

In [36]:
df_fields[df_fields["DS_CONTA"].str.contains("resultado de equivalência patrimonial")]

,FILE_NAME,DS_CONTA
4991,itr_cia_aberta_DFC_MD_ind_,resultado de equivalência patrimonial
16810,itr_cia_aberta_DFC_MI_ind_,resultado de equivalência patrimonial
16811,itr_cia_aberta_DFC_MI_ind_,resultado de equivalência patrimonial (nota 12.1)
16812,itr_cia_aberta_DFC_MI_ind_,resultado de equivalência patrimonial (nota 13.1)
16813,itr_cia_aberta_DFC_MI_ind_,resultado de equivalência patrimonial (nota 8)
16814,itr_cia_aberta_DFC_MI_ind_,resultado de equivalência patrimonial - operaç...
16815,itr_cia_aberta_DFC_MI_ind_,resultado de equivalência patrimonial de contr...
16816,itr_cia_aberta_DFC_MI_ind_,resultado de equivalência patrimonial de contr...
16817,itr_cia_aberta_DFC_MI_ind_,resultado de equivalência patrimonial de opera...
16818,itr_cia_aberta_DFC_MI_ind_,resultado de equivalência patrimonial de opera...
16819,itr_cia_aberta_DFC_MI_ind_,resultado de equivalência patrimonial do inves...
16820,itr_cia_aberta_DFC_MI_ind_,resultado de equivalência patrimonial e amorti...
16821,itr_cia_aberta_DFC_MI_ind_,resultado de equivalência patrimonial em colig...
16822,itr_cia_aberta_DFC_MI_ind_,"resultado de equivalência patrimonial, líquido..."
20301,itr_cia_aberta_DRA_ind_,resultado de equivalência patrimonial
21835,itr_cia_aberta_DRE_ind_,resultado de equivalência patrimonial
21836,itr_cia_aberta_DRE_ind_,resultado de equivalência patrimonial - operaç...
21837,itr_cia_aberta_DRE_ind_,resultado de equivalência patrimonial - operaç...
21838,itr_cia_aberta_DRE_ind_,resultado de equivalência patrimonial do periodo
23089,itr_cia_aberta_DVA_ind_,resultado de equivalência patrimonial

In [39]:
df_fields[df_fields["DS_CONTA"].str.contains("financeiras líquidas")]

                       FILE_NAME                                      DS_CONTA
6644  itr_cia_aberta_DFC_MI_ind_               aplicações financeiras líquidas
6645  itr_cia_aberta_DFC_MI_ind_         aplicações financeiras líquidas (tvm)
6646  itr_cia_aberta_DFC_MI_ind_  aplicações financeiras líquidas de resgastes
6647  itr_cia_aberta_DFC_MI_ind_    aplicações financeiras líquidas de resgate
9985  itr_cia_aberta_DFC_MI_ind_                 despesas financeiras líquidas
9986  itr_cia_aberta_DFC_MI_ind_  despesas financeiras líquidas não realizadas

In [41]:
df_fields[df_fields["DS_CONTA"].str.contains("amortização")]

,FILE_NAME,DS_CONTA
2,itr_cia_aberta_BPA_ind_,(-) amortização acumulada
28,itr_cia_aberta_BPA_ind_,(amortização acumulada)
29,itr_cia_aberta_BPA_ind_,(amortização acumuladas)
127,itr_cia_aberta_BPA_ind_,amortização
128,itr_cia_aberta_BPA_ind_,amortização acumulada
...,...,...
22349,itr_cia_aberta_DVA_ind_,depreciação e amortização mais valia
22351,itr_cia_aberta_DVA_ind_,"depreciação, amortização e exaustão"
22352,itr_cia_aberta_DVA_ind_,"depreciação, amortização e impairment"
22628,itr_cia_aberta_DVA_ind_,mais (menos) valia - depreciação e amortização
22864,itr_cia_aberta_DVA_ind_,prov. p/ perdas de investimentos/amortização d...

In [45]:
df_fields[df_fields["DS_CONTA"].str.contains("imposto de renda e contribuição social")]
df_fields[df_fields["DS_CONTA"] == "imposto de renda e contribuição social"]

                        FILE_NAME                                DS_CONTA
1011      itr_cia_aberta_BPA_ind_  imposto de renda e contribuição social
2776      itr_cia_aberta_BPP_ind_  imposto de renda e contribuição social
11135  itr_cia_aberta_DFC_MI_ind_  imposto de renda e contribuição social
20003     itr_cia_aberta_DRA_ind_  imposto de renda e contribuição social
22549     itr_cia_aberta_DVA_ind_  imposto de renda e contribuição social

In [50]:
df_fields[df_fields["DS_CONTA"].str.contains("custos")]

,FILE_NAME,CD_CONTA,DS_CONTA
862,itr_cia_aberta_BPA_ind_,1.01.07.01,custos antecipados
863,itr_cia_aberta_BPA_ind_,1.01.07.01,custos antecipados associados ao processo de o...
1352,itr_cia_aberta_BPA_ind_,1.01.08.03.03,custos diferidos
2657,itr_cia_aberta_BPA_ind_,1.02.01.10.06,custos diferidos
6123,itr_cia_aberta_BPP_ind_,2.01.06.02.04,provisões de custos e encargos
...,...,...,...
37029,itr_cia_aberta_DVA_ind_,7.02.04.06,custos com construção de usinas
37037,itr_cia_aberta_DVA_ind_,7.02.04.07,custos com construção de infraestrutura de tra...
37052,itr_cia_aberta_DVA_ind_,7.02.04.20,outros custos operacionais
37295,itr_cia_aberta_DVA_ind_,7.06.03.01,juros e custos capitalizados
37368,itr_cia_aberta_DVA_ind_,7.06.03.02,custos de transação pela emissão de debêntures